<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h2>Login</h2>
            <form action="/login" method="post">
                <input type="text" id="username_or_email" name="username_or_email" placeholder="Username or Email" required><br>
                <input type="password" id="password" name="password" placeholder="Password" required><br>
                
                <div class="extra-options">
                    <label for="remember">
                        <input type="checkbox" id="remember" name="remember"> Remember me
                    </label>
                    <button id="forgot" type="button" class="forgot-password">Forgot Password?</button>
                </div>
                
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="/signup">Register</a></p>
        </div>
    </div>
</body>
</html>
